
.top_con
{
	margin:0 auto;
	padding:0px;
	min-width:inherit;
	width:inherit;
	height:inherit;
	
}
.top_con ul
{
	margin-top:7px;
	padding:0px;
	list-style:none;
	text-align:center;
	
}
.top_con ul li
{
	padding:1.0vh 1.7vh;
	margin:0px 1px;
	background: #465367; /* Old browsers */
	background: -moz-linear-gradient(top,  #465367 0%, #293647 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#465367), color-stop(100%,#293647)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #465367 0%,#293647 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #465367 0%,#293647 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #465367 0%,#293647 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #465367 0%,#293647 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465367', endColorstr='#293647',GradientType=0 ); /* IE6-9 */
	font:1px;
	border:#222222 1px solid;
	height:24px;
	color:#FFF;
	float:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-box-shadow:    inset 0px 1px 0px 0px #6d7888;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6d7888;
    box-shadow:         inset 0px 1px 0px 0px #6d7888;
}
